html,
body {
  padding: 20px;
  font-family: sans-serif;
}

.feed {
  width: 500px;
  height: 473px;
  background-image: url(https://i.imgur.com/HckmGbj.png);
  position: relative;
}
.feed .like-btn {
  width: 44px;
  height: 25px;
  background: #d0d0d0;
  position: absolute;
  bottom: 13px;
  left: 13px;
  cursor: pointer;
}
.feed .like-btn::before {
  content: ".";
  opacity: 0;
  display: block;
  width: 44px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 0;
}
.feed .like-btn .reaction-box {
  position: absolute;
  width: 312px;
  height: 55px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 28px;
  left: -25px;
  bottom: 35px;
  display: none;
}
.feed .like-btn .reaction-box .reaction-icon.angry {
  animation: fadeInLoad-angry 0.3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  background-position: 0px 0px;
}
.feed .like-btn .reaction-box .reaction-icon.flower {
  animation: fadeInLoad-flower 0.3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  background-position: 0px -40px;
}
.feed .like-btn .reaction-box .reaction-icon.haha {
  animation: fadeInLoad-haha 0.3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  background-position: 0px -80px;
}
.feed .like-btn .reaction-box .reaction-icon.like {
  animation: fadeInLoad-like 0.3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  background-position: 0px -120px;
}
.feed .like-btn .reaction-box .reaction-icon.love {
  animation: fadeInLoad-love 0.3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  background-position: 0px -160px;
}
.feed .like-btn .reaction-box .reaction-icon.sad {
  animation: fadeInLoad-sad 0.3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  background-position: 0px -200px;
}
.feed .like-btn .reaction-box .reaction-icon.wow {
  animation: fadeInLoad-wow 0.3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  background-position: 0px -240px;
}
.feed .like-btn .reaction-box .reaction-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(https://i.imgur.com/eo71KDP.png);
  background-size: cover;
  border-radius: 20px;
  margin: 8px -1px 0 8px;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
  transform: translate(0, 100px) scale(0);
}
.feed .like-btn .reaction-box .reaction-icon label {
  padding: 3px 5px 3px 5px;
  position: relative;
  top: -24px;
  border-radius: 10px;
  font-size: 11px;
  color: #fff;
  background: #333;
  visibility: hidden;
}
.feed .like-btn:hover {
  background: #718c00;
}
.feed .like-btn:hover .reaction-box {
  display: block;
}
.feed .like-btn:hover .reaction-box .reaction-icon.show {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}
.feed .like-btn:hover .reaction-box .reaction-icon:hover {
  transform: scale(1.4);
  transform-origin: bottom;
}
.feed .like-btn:hover .reaction-box .reaction-icon:hover label {
  visibility: visible;
}